{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Work Data</h1>

<h2>Shifts:</h2>

<table>
    <tr>
        <th>Shift Number</th>
        <th>Shift Date</th>
        <th>Shift Hours</th>    
        <th>Wages Earned</th>
        <th>actions</th>    
    </tr>

    {% for shift in shiftList %}

    <tr>
        <td>{{shift.shift_number}}</td>
        <td>{{shift.shift_date}}</td>
        <td>{{shift.shift_hours}}</td>
        <td>${{shift.shift_earned}}</td>
        <td>
            <a href="/update/{{ shift.shift_number }}">update</a>
            <a href="/delete/{{ shift.shift_number }}">delete</a>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock %}